/* universal
  ------------------------- */
body, html {
  height: 100%;
  font-family: "system-ui", sans-serif;
}

h1 {
  margin: 0 0 2rem 0;
  text-decoration: none;
}

button {
  margin: 0 1rem 1rem 1rem;
}

a {
  color: #157FFB;
}

a:hover {
  color: #116CD6;
}

.no-decoration a:focus, a:hover, a:active {
  text-decoration: none;
}
